<!-- <div class="job-card">
  
  <div class="header">
    <div class="logo-placeholder">
      {{ job.company_name.charAt(0) | uppercase }}
    </div>
    
    <div class="info">
      <h3 [title]="job.title">{{ job.title }}</h3>
      <p class="company">{{ job.company_name }}</p>
    </div>

    <button class="btn-fav" (click)="toggleFav(); $event.stopPropagation()">
      <i class="bi" 
         [class.bi-heart-fill]="isFav()" 
         [class.bi-heart]="!isFav()" 
         [class.active]="isFav()">
      </i>
    </button>
  </div>

  <div class="badges">
    <span class="badge loc"><i class="bi bi-geo-alt"></i> {{ job.location }}</span>
    <span *ngIf="job.remote" class="badge remote">Remote</span>
  </div>

  <div class="description">
    <p [innerHTML]="job.description"></p>
  </div>

  <div class="footer">
    <span class="date">Nouveau</span> 
    <a [href]="job.url" target="_blank" class="btn-view">Voir l'offre</a>
  </div>

</div> -->

<div class="job-card">
  
  <div class="header">
    <div class="logo-placeholder">
      {{ job.company_name.charAt(0) | uppercase }}
    </div>
    
    <div class="info">
      <h3 [title]="job.title">{{ job.title }}</h3>
      <p class="company">{{ job.company_name }}</p>
    </div>

    <div class="actions">
      
      <button 
        class="btn-action btn-apply" 
        [class.applied]="isApplied()"
        (click)="apply(); $event.stopPropagation()"
        [title]="isApplied() ? 'Candidature déjà suivie' : 'Suivre cette candidature'">
        <i class="bi" [class.bi-briefcase]="!isApplied()" [class.bi-check-circle-fill]="isApplied()"></i>
      </button>

      <button 
        class="btn-action btn-fav" 
        (click)="toggleFav(); $event.stopPropagation()"
        title="Ajouter aux favoris">
        <i class="bi" 
           [class.bi-heart-fill]="isFav()" 
           [class.bi-heart]="!isFav()" 
           [class.active]="isFav()">
        </i>
      </button>

    </div>
  </div>

  <div class="badges">
    <span class="badge loc"><i class="bi bi-geo-alt"></i> {{ job.location }}</span>
    <span *ngIf="job.remote" class="badge remote">Remote</span>
  </div>

  <div class="description">
    <p [innerHTML]="job.description"></p>
  </div>

  <div class="footer">
    <span class="date">Nouveau</span> 
    <a [href]="job.url" target="_blank" class="btn-view">Voir l'offre</a>
  </div>

</div>