<nav class="navbar">
  <div class="container">
    
    <a routerLink="/jobs" class="brand">Job<span class="highlight">Finder</span></a>

    <ul class="nav-links" *ngIf="authService.isLoggedIn()">
      <li>
        <a routerLink="/jobs" routerLinkActive="active">
          <i class="bi bi-briefcase"></i> Offres
        </a>
      </li>
      <li>
        <a routerLink="/favorites" routerLinkActive="active">
          <i class="bi bi-heart"></i> Favoris
        </a>
      </li>
      <li>
        <a routerLink="/applications" routerLinkActive="active">
          <i class="bi bi-send"></i> Candidatures
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="bi bi-person"></i> Profil
        </a>
      </li>
    </ul>

    <div class="auth-buttons">
      <button (click)="logout()" class="btn-logout" *ngIf="authService.isLoggedIn()">
        <i class="bi bi-box-arrow-right"></i> Déconnexion
      </button>

      <button (click)="login()" class="btn-login" *ngIf="!authService.isLoggedIn()">
        <i class="bi bi-person"></i> Connexion
      </button>
    </div>
  </div>
</nav>